# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
ENV/

# PyCharm project files
.idea/
*.iml

# Test and coverage outputs
.coverage
.cache/
pytest_cache/
htmlcov/
coverage.xml

# Logs
*.log

# Local config
*.env
.env.*
*.local

# macOS
.DS_Store